.App {
	text-align: left;
}

.App .posts {
	/* create grid gallary or posts */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 15px;
	list-style: none;
	padding: 0;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	font-size: 14px;
	margin: 10px;
}

.App .posts .post {
	/* create post */
	background: #f4f4f4;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-transform: capitalize;
}

.App .posts .post section h3 {
	font-size: 18px;
}

.delete-button {
	/* create delete button */
	background: #ff0000;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
}

.heading {
	/* create heading */
	font-size: 25px;
	font-weight: bold;
	margin: 10px;
	color: rgb(37, 67, 190);
}

.post-form {
	/* create form */
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	font-size: 14px;
	margin: 10px;
}

.post-form input,
.post-form textarea {
	/* create input */
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.post-form button {
	/* create button */
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.main-heading {
	/* create main heading */
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 20px 0;
	color: rgb(37, 67, 190);
}

small {
	font-size: 12px;
}

.error {
	color: red;
}

/* //disabled button */
button:disabled {
	pointer-events: none;
	opacity: 0.5;
	background-color: rgb(106, 106, 106);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* //util classes */
.ml {
	margin-left: 30px;
}

.loading-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	text-align: center;
	width: 100%;
	color: #4caf50;
}
